<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bm.fmkj.dao.GcActivityMapper">
  <resultMap id="BaseResultMap" type="com.bm.fmkj.dao.GcActivity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="startid" jdbcType="INTEGER" property="startid" />
    <result column="getid" jdbcType="INTEGER" property="getid" />
    <result column="typeid" jdbcType="INTEGER" property="typeid" />
    <result column="contract" jdbcType="VARCHAR" property="contract" />
    <result column="isbond" jdbcType="INTEGER" property="isbond" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="pnumber" jdbcType="INTEGER" property="pnumber" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="premium" jdbcType="DOUBLE" property="premium" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="delivergoodstatus" jdbcType="INTEGER" property="delivergoodstatus" />
    <result column="collectgoodstatus" jdbcType="INTEGER" property="collectgoodstatus" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="begintime" jdbcType="TIMESTAMP" property="begintime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="par" jdbcType="DOUBLE" property="par" />
    <result column="pdescribe" jdbcType="LONGVARCHAR" property="pdescribe" />
  </resultMap>
</mapper>