<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bm.fmkj.dao.BmListMapper">
	<resultMap id="BaseResultMap" type="com.bm.fmkj.dao.BmList">
		<!-- WARNING - @mbg.generated -->
		<id column="Id" jdbcType="INTEGER" property="id" />
		<result column="uid" jdbcType="INTEGER" property="uid" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="limit_login" jdbcType="INTEGER"
			property="limitLogin" />
	</resultMap>

	<insert id="setWhite" parameterType="List">
		insert into bm_list (uid,status)values
		<foreach collection="array" item="uid" separator="," index="index">
			(#{uid,jdbcType=INTEGER},1)
		</foreach>
		on duplicate key update
			uid=values(uid),status=values(status)
	</insert>
	
	<insert id="setBlack" parameterType="List">
		insert into bm_list (uid,status)values
		<foreach collection="array" item="uid" separator="," index="index">
			(#{uid,jdbcType=INTEGER},2)
		</foreach>
		on duplicate key update
			uid=values(uid),status=values(status)
	</insert>
	
	<update id="withdrow" parameterType="list">
		update bm_list set status=0 where uid=#{uid}
	</update>
</mapper>