<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bm.fmkj.dao.FmRecyleLogMapper">
  <resultMap id="BaseResultMap" type="com.bm.fmkj.dao.FmRecyleLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="take_num" jdbcType="DOUBLE" property="takeNum" />
    <result column="take_date" jdbcType="TIMESTAMP" property="takeDate" />
    <result column="take_type" jdbcType="TINYINT" property="takeType" />
    <result column="recyle_type" jdbcType="TINYINT" property="recyleType" />
    <result column="take_msg" jdbcType="VARCHAR" property="takeMsg" />
    <result column="friend_id" jdbcType="VARCHAR" property="friendId" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="java.util.HashMap">

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nickname" jdbcType="INTEGER" property="nickname" />
    <result column="take_num" jdbcType="DOUBLE" property="takeNum" />
    <result column="take_date" jdbcType="TIMESTAMP" property="takeDate" />
    <result column="take_type" jdbcType="TINYINT" property="takeType" />
    <result column="recyle_type" jdbcType="TINYINT" property="recyleType" />
    <result column="take_msg" jdbcType="VARCHAR" property="takeMsg" />
    <result column="nicknamef" jdbcType="VARCHAR" property="nicknamef" />
  </resultMap>


  <insert id="addRecyletLog" parameterType="java.util.HashMap">
    INSERT INTO fm_recyle_log(uid, take_num, take_date, take_type, recyle_type, take_msg, friend_id) VALUES(#{uid}, #{recyleNum}, #{dateTime}, #{takeType}, #{recyleType}, #{takeMsg}, #{friendId})
  </insert>

  <insert id="batchAddRecyleLog" parameterType="java.util.List">
        INSERT INTO fm_recyle_log(uid, take_num, take_date, take_type, recyle_type, take_msg, friend_id) VALUES
        <foreach collection ="list" item="fmRecyleLog" index= "index" separator =",">
          (
            #{fmRecyleLog.uid},
            #{fmRecyleLog.takeNum},
            #{fmRecyleLog.takeDate},
            #{fmRecyleLog.takeType},
            #{fmRecyleLog.recyleType},
            #{fmRecyleLog.takeMsg},
            #{fmRecyleLog.friendId}
          )
        </foreach >
  </insert>

  <select id="getFmRecyleLogs" resultMap="BaseResultMap2" parameterType="java.util.HashMap">
      SELECT fm.`id`,hc.nickname AS nickname,ha.`nickname` AS nicknamef,fm.`take_num`,fm.`take_date`,
      fm.`take_type`,
      fm.recyle_type,
      fm.take_msg
      FROM fm_recyle_log fm LEFT JOIN hc_account hc ON fm.`uid`=hc.`id` LEFT JOIN hc_account ha ON fm.`friend_id` = ha.`id`  WHERE 1 = 1
      <if test="nickname != null">
        and hc.nickname = #{nickname}
      </if>
      <if test="sendValue != null">
        and fm.take_type = #{sendValue}
      </if>
      <if test="typeValue != null">
        and fm.recyle_type = #{typeValue}
      </if>
  order by fm.`take_date` desc
  </select>
</mapper>