<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bm.fmkj.dao.PmImageMapper">

  <insert id="insertImage" parameterType="com.bm.fmkj.dao.PmImage" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO pm_image(image_url,create_date,path) values (#{imageUrl},#{createDate},#{path})
  </insert>

</mapper>