<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bm.fmkj.dao.PmPartMapper">
  <resultMap id="BaseResultMap" type="com.bm.fmkj.domain.PmPartDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="audit_status" jdbcType="TINYINT" property="auditStatus" />
    <result column="audit_option" jdbcType="VARCHAR" property="auditOption" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="imageUrl" jdbcType="VARCHAR" property="imageUrl" />
    <result column="nickName" jdbcType="VARCHAR" property="nickName" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="cnt" jdbcType="DOUBLE" property="cnt" />
    <result column="reward" jdbcType="DOUBLE" property="reward" />
  </resultMap>
  
  <select id="selectPartList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
       SELECT
          t.id,
          t.uid,
          t.tid,
          t.audit_status,
          t.audit_option,
          t.telephone,
          t.create_date,
          t.update_date,
          (SELECT
            GROUP_CONCAT(image_url)
          FROM
            pm_image
          WHERE part_id = t.id and image_type = 1) AS imageUrl,
          h.nickname,
          h.cnt,
          k.title,
          k.reward * k.proportion / 100 AS reward
        FROM
          pm_part t
          LEFT JOIN hc_account h
            ON h.id = t.uid
          LEFT JOIN pm_task k
            ON k.id = t.tid
         WHERE 1 = 1
          <if test="idKey != null">
              AND t.id =  #{idKey}
          </if>
          <if test="title != null">
              AND k.title =  #{title}
          </if>
          <if test="nickName != null">
              AND h.nickname = #{nickName}
          </if>
          <if test="statusValue != null">
              AND t.audit_status = #{statusValue}
          </if>
          <if test="starttime != null and endtime != null">
              and t.create_date between #{starttime} and #{endtime}
          </if>
        ORDER BY t.create_date DESC
  </select>

   <select id="selectPartExtendList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
          t.id,
          p.clounm_name AS clounmName,
          t.xvalue
        FROM
          pm_extend_value t
          LEFT JOIN pm_extend p
            ON t.xid = p.id
        WHERE t.pid = #{pid}

   </select>

</mapper>