<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bm.fmkj.dao.PmPromptMapper">
  <resultMap id="BaseResultMap" type="com.bm.fmkj.dao.PmPrompt">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="prompt_text" jdbcType="VARCHAR" property="promptText" />
    <result column="order_num" jdbcType="TINYINT" property="orderNum" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>

  <select id="getPromptInfo" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT * FROM `pm_prompt` pm WHERE pm.tid = #{tid}
    order by pm.create_date desc
  </select>

  <insert id="savePromptInfo" parameterType="com.bm.fmkj.dao.PmPrompt" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO pm_prompt(tid,prompt_text,order_num,create_date) VALUE(#{tid},#{promptText},#{orderNum},#{createDate})
  </insert>
</mapper>