<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bm.fmkj.dao.SysOperateLogMapper">
  <resultMap id="BaseResultMap" type="com.bm.fmkj.dao.SysOperateLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="module" jdbcType="VARCHAR" property="module" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate_desc" jdbcType="VARCHAR" property="operateDesc" />
    <result column="exception_msg" jdbcType="VARCHAR" property="exceptionMsg" />
    <result column="operate_status" jdbcType="BIGINT" property="operateStatus" />
    <result column="request_method" jdbcType="VARCHAR" property="requestMethod" />
    <result column="request_params" jdbcType="VARCHAR" property="requestParams" />
    <result column="request_host" jdbcType="VARCHAR" property="requestHost" />
    <result column="request_class" jdbcType="VARCHAR" property="requestClass" />
  </resultMap>
  
  
  <resultMap id="BaseResultHashMap" type="java.util.HashMap">
  	<id column="id" jdbcType="INTEGER" property="id" />
    <result column="module" jdbcType="VARCHAR" property="module" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate_desc" jdbcType="VARCHAR" property="operateDesc" />
    <result column="exception_msg" jdbcType="VARCHAR" property="exceptionMsg" />
    <result column="operate_status" jdbcType="BIGINT" property="operateStatus" />
    <result column="request_method" jdbcType="VARCHAR" property="requestMethod" />
    <result column="request_params" jdbcType="VARCHAR" property="requestParams" />
    <result column="request_host" jdbcType="VARCHAR" property="requestHost" />
    <result column="request_class" jdbcType="VARCHAR" property="requestClass" />
  </resultMap>
  
  <sql id="selectOperateVo">
  	select sys.id,sys.module,hc.nickname as nickname,hc.name as name,sys.create_time,operate_desc,exception_msg,operate_status,
  	request_method,request_params,request_host,request_class from sys_operate_log sys left join hc_account hc on sys.user_id=hc.id
  </sql>
  
  <select id="getOperaLog" parameterType="java.util.HashMap" resultMap="BaseResultHashMap">
  	<include refid="selectOperateVo" />
  	<where>
  		<if test="nickname != null and nickname != ''">
				AND hc.nickname like concat('%', #{nickname}, '%')
			</if>
			<if test="module != null and module != ''">
				AND module like concat('%', #{module}, '%')
			</if>
			<if test="params != null and params.beginTime != ''"><!-- 开始时间检索 -->
				and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params != null and params.endTime != ''"><!-- 结束时间检索 -->
				and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
  	</where> 
  </select>
  
  <delete id="deleteOperaLog" parameterType="int">
  	delete from sys_operate_log where id in
  	<foreach close=")" collection="array" item="id" open="(" separator=",">
  		#{id}
  	</foreach>
  </delete>
</mapper>